extends layout
include mixins/_appCard

block content
    .inner
        h2(class='title')= title
        .apps
            <hr>
            each app, index in apps
                +appCard(app, index)
                <hr>